.main_cart_div{
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 40px;
}
.cart_empty_div{
    /* border: 2px solid; */
    margin-top: 50px;
    text-align: center;
}
.cart_empty_head{
    /* border: 2px solid; */
    margin: 0px auto;
    font-size: 4em;
    color: rgb(141, 136, 136);
    width: 800px;
    height: 110px;
    background-color: rgb(241, 234, 232);
}

.main_detail_div{
    /* border: 2px solid; */
    box-shadow: 0px 0px 8px gray;
    width: fit-content;
    border-radius: 10px;
}
.sub_detail_div{
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
}
.detail_div{
    /* border: 2px solid; */
    padding: 20px;
    margin-top: 20px;
    /* box-shadow: 0px 0px 8px gray; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 700px;
}
.cart_img{
    width: 200px;
    padding: 10px;
    border: 1px rgb(241, 232, 232) solid;
    /* border: 2px solid; */

}
.product_name{
    /* border: 2px solid; */
    margin-left: 20px;
    font-weight: bold;
    padding: 10px;
}
.product_price{
    /* border: 2px solid; */

    margin-left: 130px;
}

  /* SUMMARY COMPONENT   */


.container_div{
    /* border: 2px solid; */
    width: 300px;
    max-width: 400px;
    padding: 10px;
    box-shadow: 0px 0px 10px gainsboro ;
    border-radius: 8px;
    margin-top: 30px;
}


.subtotal_div{
    /* border: 2px solid ; */

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 30px;
    margin-top: 30px;
}
.tax_div{
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 30px;

}
.total_div{
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 30px;
    margin-top: 15px;

}
.close_btn_div{
    /* border: 2px solid; */
    width: fit-content;
    height: fit-content;
    position: relative;
    top: 5px;
    right:   10px;
}
.close_btn_div>p{
    /* border: 2px solid; */
    font-size: 2em;
    text-align: center;
    
    /* margin-top: 10px; */
    height:fit-content;
    width: 30px;
    border-radius: 60px;
}
.close_btn_div>p:hover{
    cursor: pointer;
    background-color: rgb(210, 231, 241);
    
}

@media screen and (max-width:820){

}



@media screen and (max-width:820px){
    .cart_empty_head,.detail_div{
        width: 600px;
    }
    .cart_img{
        width: 150px;
    }
}
@media screen and (max-width:690px){
    .detail_div{
        width: 500px;
    }
    .cart_img{
        width: 120px;
    }
    .product_price{
        margin-left: 10px;
        margin-top: 15px;
    }
    .main_detail_div{
        width: 550px;
    }
}

@media screen and (max-width:560px){
    .detail_div,.main_detail_div{
        width: 450px;
    }
    .cart_img{
        width: 100px;
    }
    .container_div{
        margin-right: 10px;
    }
}
@media screen and (max-width:460px){
    .main_detail_div{
        width: 400px;
    }
}
@media screen and (max-width:425px){
    .main_detail_div{
        width: 350px;
    }
    .detail_div{
        width: 500px;
    }
    .cart_img{
        width: 80px;
    }
    .container_div{
        width: 250px;
    }
}
@media screen and (max-width:355px){
    .main_detail_div{
        width: 300px;
    }
    .product_name{
        /* margin-left: -8px; */
    }
    .color{
        /* margin-left: -48px; */
    }
}
@media screen and (max-width:310px){
    .main_detail_div{
        width: 250px;
    }

    .detail_div{
        width: 250px;
    }
    .container_div{
        width: 200px;
    }
    .cart_img{
        width: 90px;
        justify-content: center;
        margin: 0 auto;
    }
    .product_name{
        margin-left:-10px ;
    }
    .color{
        margin-left: -50px;
    }
    .product_price{
        /* margin-left: 30px; */
    }
}
@media screen and (max-width:620px){
    .cart_empty_head{
        width:400px;
        font-size: 3em;
        height: 80px;
    }
}   
@media screen and (max-width:420px){
    .cart_empty_head{
        width:300px;
        font-size: 2em;
        height: 60px;
    }
} 